<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
<meta charset="UTF-8"/>
<title>Editar Cliente</title>
</head>

<body>
    <section th:fragment="editarCliente">
        <form th:action="@{/guardar}" th:object="${persona}"
            method="POST" class="was-validated">
        <input type="hidden" name="id_persona" th:field="*{id_persona}"/>
        <section th:replace="layout/botonesEditar :: botonesEditar"></section>
        <div id="datails">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{accion.editar}]]</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{persona.nombre}">Nombre</label>
                                    <input type="text" name="nombre" th:field="*{nombre}"
                                        class="form-control" required="true"/>
                                </div>
                                <div class="form-group">
                                    <label for="apellido" th:text="#{persona.apellido}">Apellido</label>
                                    <input type="text" name="apellido" th:field="*{apellido}"
                                        class="form-control" required="true"/>
                                </div>
                                <div class="form-group">
                                    <label for="email" th:text="#{persona.email}">Email</label>
                                    <input type="email" name="email" th:field="*{email}"
                                        class="form-control" required="true"/>
                                </div>
                                <div class="form-group">
                                    <label for="telefono" th:text="#{persona.telefono}">Telefono</label>
                                    <input type="tel" name="telefono" th:field="*{telefono}"
                                        class="form-control" required="true" maxlength="10"/>
                                </div>
                                <div class="form-group">
                                    <label for="saldo" th:text="#{persona.saldo}">Saldo</label>
                                    <input type="number" name="saldo" th:field="*{saldo}"
                                        class="form-control" required="true" step="any"/>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </section>
</body>

</html>