!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8"/>
        <title>Listado Clientes</title>
    </head>

    <body>
        <section th:fragment="listadoFunciones" id="funciones">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>PENDIENTE</h4>
                            </div>
                            <div th:if="${funciones != null and
                                !funciones.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Memoria Principal</th>
                                            <th>Memoria Cach&acutee;</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="funcion:
                                            ${funciones}">
                                            <td>[[${funcion.mp}</td>
                                            <td>[[${funcion.mc}]]</td>
                                            <td>
                                                <a
                                                    th:href="@{/tareas/funcionesCorrespondencia/detalles/} + ${funcion.funcion}"
                                                    class="btn btn-secondary">
                                                    <i class="fas
                                                        fa-angle-double-right"></i>
                                                    Ver Detalles
                                                </td>
                                                <td>
                                                    <a
                                                        th:href="@{/tareas/funcionesCorrespondencia/eliminar(id_funcion=${funcion.id_funcion})}"
                                                        class="btn btn-dark">
                                                        <i class="fas
                                                            fa-angle-double-right"></i>
                                                        Eliminar
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-center p-2"
                                        th:if="${funciones == null or
                                        funciones.empty}">
                                        <span>Lista
                                            Vacía</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </body>

        </html>