<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
<meta charset="UTF-8"/>
<title>Listar Funciones</title>
</head>
<body>
	<header th:replace="layout/plantilla :: header"></header>
	<section th:replace="layout/botonesCalcular :: botonesCalcular"></section>
	<section th:replace="layout/calcularFuncion :: calcularNuevaFuncion"></section>
    <!-- <section th:replace="layout/listadoFunciones :: listadoFunciones"></section> -->
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>